{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-14">
            {% if usuarios %}
            <h3 class="text-center">Seleccione el {{operacion}} a consultar:</h3>
            <div class="text-center">
                <select id="selectUsuario" class="form-select">
                    <option value="" {% if not usuario_seleccionado_id %}selected{% endif %}>Seleccionar usuario...</option>
                    {% for usuario in usuarios %}
                    {% if operacion == "transportista" %}       
                        <option value="{{ usuario.idTransportista }}" {% if usuario.idTransportista == usuario_seleccionado_id %}selected{% endif %}>
                            {{ usuario }}
                        </option>
                    {% else %}
                        <option value="{{ usuario.idCliente }}" {% if usuario.idCliente == usuario_seleccionado_id %}selected{% endif %}>
                            {{ usuario }}
                        </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}            
            {% if paquetes %}
            <div class="listContainer  shadow mt-3">
                <div class="row justify-content-center">
                    {% for paquete in paquetes %}
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-1"><strong>{{ paquete.nombre }}</strong></h5>
                                <p class="card-text mb-1"><strong><i class="fas fa-map-marker-alt"></i> Dirección Origen: </strong>{{paquete.direccion_origen}}</p>
                                <p class="card-text mb-1"><strong><i class="fas fa-map-marker-alt"></i> Dirección Destino:</strong> {{paquete.direccion_destino}}</p>
                                <p class="card-text mb-1"><strong><i class="fas fa-ruler"></i> Dimensiones:</strong> {{paquete.dimensiones}}</p>
                                <p class="card-text mb-1"><strong><i class="fas fa-weight"></i> Peso:</strong> {{paquete.peso}}</p>
                                <div>
                                    <small class="text-muted">Creado: {{ paquete.fecha_creacion|date:"Y-m-d" }}</small><br>
                                    <small class="text-muted">Modificado: {{ paquete.fecha_actualizacion|date:"Y-m-d" }}</small>
                                </div>
                            </div>
                        </div>
                    </div>                
                    {% endfor %}
                </div>
            </div>
            <!-- Mostrar paginación -->
            <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if paquetes.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ paquetes.previous_page_number }}">previous</a>
                    {% endif %}
                    {% if paquetes.has_previous or paquetes.has_next %}
                        <span class="current">
                            Página {{ paquetes.number }} de {{ paquetes.paginator.num_pages }}
                        </span>
                    {% endif %}                            
                    {% if paquetes.has_next %}
                        <a href="?page={{ paquetes.next_page_number }}">next</a>
                        <a href="?page={{ paquetes.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% else %}
            <p class="mt-3 text-center"><i class="fas fa-box"></i>  No tienes paquetes asignados.  </p>
            {% endif %}
        </div>
    </div>
</div>

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selectUsuario = document.getElementById("selectUsuario");
        selectUsuario.addEventListener("change", function() {
            var usuarioIdSeleccionado = selectUsuario.value; // ID del usuario
            // Redireccionar a la URL para obtener los paquetes del usuario seleccionado
            window.location.href = '/obtener_paquetes/' + usuarioIdSeleccionado+'?operacion={{operacion}}';
        });
    });
</script>
{% endblock scripts %}
{% endblock content%}
