{% extends "base.html" %}
{% block content %}
<div class="containerCanales mt-5">
    <div class="card shadow">
        <div class="card-body">
            <!-- Botón para la creación de paquetes -->
            <a href="{% url 'crear_paquete' %}" class="btn btn-success float-right">
                <i class="fa fa-box"></i> Crear paquete
            </a>            
            <h2>Paquetes</h2>
            {% if paquetes %}
                <div class="listContainer  shadow mt-3">
                    <div class="row">
                        {% for paquete in paquetes %}
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="{% url 'actualizar_paquete' paquete.idPaquete %}" class="btn-configuracion-canal btn float-right">
                                            <i class="fas fa-edit"></i> Editar
                                        </a>
                                        <button type="button" class="btn btn-danger float-right mr-2 eliminar-btn" data-url="{% url 'eliminar_paquete' id_paquete=paquete.idPaquete %}">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </button>
                                        <h5 class="card-title mb-1"><strong>{{ paquete.nombre }}</strong></h5>
                                        <p class="card-text mb-1"><strong><i class="fas fa-map-marker-alt"></i> Dirección Origen: </strong>{{paquete.direccion_origen}}</p>
                                        <p class="card-text mb-1"><strong><i class="fas fa-map-marker-alt"></i> Dirección Destino:</strong> {{paquete.direccion_destino}}</p>
                                        <p class="card-text mb-1"><strong><i class="fas fa-ruler"></i> Dimensiones:</strong> {{paquete.dimensiones}}</p>
                                        <p class="card-text mb-1"><strong><i class="fas fa-weight"></i> Peso:</strong> {{paquete.peso}}</p>
                                        <div>
                                            <small class="text-muted">Creado: {{ paquete.fecha_creacion|date:"Y-m-d" }}</small><br>
                                            <small class="text-muted">Modificado: {{ paquete.fecha_actualizacion|date:"Y-m-d" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal de confirmación para este paquete específico -->
                            <div class="modal fade" id="confirmacionModal{{ paquete.idPaquete }}" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel{{ paquete.idPaquete }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmacionModalLabel{{ paquete.idPaquete }}">Confirmar eliminación</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar este paquete?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'eliminar_paquete' paquete.idPaquete %}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin del modal -->
                        {% endfor %}
                    </div>
                </div>
                <!-- Mostrar paginación -->
                <div class="pagination">
                    <span class="step-links">
                        {% if paquetes.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ paquetes.previous_page_number }}">previous</a>
                        {% endif %}
                        {% if paquetes.has_previous or paquetes.has_next %}
                            <span class="current">
                                Página {{ paquetes.number }} de {{ paquetes.paginator.num_pages }}
                            </span>
                        {% endif %}                            
                        {% if paquetes.has_next %}
                            <a href="?page={{ paquetes.next_page_number }}">next</a>
                            <a href="?page={{ paquetes.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p class="mt-3">No tienes paquetes aún.</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.eliminar-btn').click(function() {
            var url = $(this).data('url');
            window.location.href = url;
        });
    });
</script>
{% endblock content %}
